extends layout

block content
  h1= title
  p Welcome to #{title }
  p  Express is a popular unopinionated web framework, written in JavaScript and hosted within the Node. js runtime environment.
  button(type="button", class="btn btn-primary") click
